@model List<MyFileInfo>
@{
    ViewData["Title"] = "FileList";
}

<h1>FileList</h1>

<table class="table table-responsive table-bordered">
    <tr>
        <th>Name</th>
        <th>Directory</th>
        <th>Last modify</th>
        <th></th>
    </tr>
    @foreach (MyFileInfo file in Model)
    {
        @if (file.IsFolder)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="FileListinFolder"
                    asp-route-currentFolder="@file.Path">@file.Name</a></td>
                <td>@file.ParentPath</td>
                <td>@file.LastModify</td>
                <td></td>
            </tr>
        }
        else
        {
            <tr>
                <td>@file.Name</td>
                <td>@file.ParentPath</td>
                <td>@file.LastModify</td>
                <td>
                    <a asp-controller="Home" asp-action="FileDownload"
                    asp-route-fileName="@file.Name">Download</a> 
                    @*<a asp-controller="Home" asp-action="FileDeleteInFolder"
                    asp-route-filename="@file.Name">Delete</a>*@
                </td>
            </tr>
        }
    }
</table>