@model List<MyFileInfo>
@{
    ViewData["Title"] = "FileList";
}

<p>@TempData["adress"]</p>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="FileUploadInFolder"
    asp-route-currentFolder="@TempData["adress"]">
    <div class="form-group">
        <input type="file" name="file">
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" />
    </div>
    <div class="form-group">
        <p>@TempData["msg"]</p>
    </div>
</form>

<table class="table table-responsive table-bordered">
    <tr>
        <th>Name</th>
        <th>Directory</th>
        <th>Last modify</th>
        <th></th>
    </tr>
    @foreach (MyFileInfo file in Model)
    {
        @if (file.IsFolder)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="FileListinFolder"
                    asp-route-inFolder="@file.Path">@file.Name</a></td>
                <td>@file.ParentPath</td>
                <td>@file.LastModify</td>
                <td></td>
            </tr>
        }
        else
        {
            <tr>
                <td>@file.Name</td>
                <td>@file.ParentPath</td>
                <td>@file.LastModify</td>
                <td><a asp-controller="Home" asp-action="FileDownloadInFolder"
                    asp-route-inFolder="@TempData["adress"]" asp-route-fileName="@file.Name">DownLoad</a></td>
            </tr>
        }
    }
</table>


